<!DOCTYPE html>
<html>
  <head>
    <title>Curious | About</title>
  </head>
  <body>
    <h1>About Page :)</h1>
    <p>
     	This is the about page for curious. An open source stack overflow.
    </p>
  </body>
</html>
