<!DOCTYPE html>
<html>
  <head>
    <title>Curious | Home</title>
  </head>
  <body>
    <h1>Curious</h1>
    <p>
     	This is the home page for curious. An open source stack overflow.
    </p>
  </body>
</html>