<div class="center hero-unit">
  <h1>Welcome to Curious</h1>

  <h2>
    Ask Questions to your team. Give answers. Git stuff done.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>